h1 {
  text-align: center;
  margin-top: 100px;
}
.game-field {
    margin: auto;
}

.game-field tr {
    height: 100px;
}

.game-field td {
    width: 100px;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}

.button-start {
    border: 1px solid #666;
    background-color: #999;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
}
